
#h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
}

#hed1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 30px;
  
}

#table1{
width: 500px;
  margin: 30px;
  background-color:rgb(207, 207, 247)
}

#th1{
  color: aliceblue;
  background-color: rgb(8, 8, 57);
}

#th2{
  color: aliceblue;
  background-color: rgb(8, 8, 57);
}

#th3{
  color: aliceblue;
  background-color: rgb(8, 8, 57);
}

#table2{
  width:350px;
}

#pad1{
  margin:30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 400px;
  text-align: center;
  background-color: rgb(176, 225, 209);
  border-radius: 30px;
  border: none;
}

#btn{
  background-color: rgb(244, 247, 250);
  margin:10px;
  width: 100px;
  padding: 10px 10px 10px 10px;
  border: none;
}



n1{

  border: none;
}






